@import "reset.css";
@import "base/jquery.ui.all.css";
@import "jquery.contextMenu.css";

body * { font-size: 10pt; }
/*  Not used (yet)
.hidden { display: none; }
.maximize { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
*/

.ui-tabs-nav li a { padding: 2px 6px !important; }
.ui-tabs-panel { position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; }
.ui-tabs-selected a { font-weight: bold; }

#tabs { position: fixed; top: 0; left: 0; bottom: 2em; right: 0; }
#tabs .ui-tabs-panel { border-width: 0 1px 1px 1px; top: 30px; left: 3px; bottom: 3px; right: 3px; }

#rubyCodeBrowser { height: 50% }

#rubyModuleList { position: absolute; top: 0; left: 0; width: 25%; bottom: 0; }
#rubyConstants { position: absolute; top: 0; left: 25%; width: 25%; bottom: 0; }
#rubyModuleMethods { position: absolute; top: 0; left: 50%; width: 25%; bottom: 0; background: red; }
#rubyInstanceMethods { position: absolute; top: 0; left: 75%; width: 25%; bottom: 0; background: blue; }


/* Not sure why I need height 95%, but otherwise the last element is cut off.... */
#rubyCodeBrowser ul { overflow: hidden; overflow-y: scroll; height: 95%; }
#rubyCodeBrowser ul li { border: 0; }
#rubyCodeBrowser ul li:hover { background: #CCC; }
.ui-selected  { background: #AAA; }



#rubyEditArea { position: absolute; top: 60%; left: 0; right: 0; bottom: 0;   margin: 2px; }
#rubyEditor { height: 100%; width: 100%;  }

#statusBar { border-bottom: 1px solid #DDD; padding: 3px 4px; position: fixed; bottom: 1.4em; height: 1em; width: 100% }
