@import "reset.css";
@import "base/jquery.ui.all.css";
@import "jquery.contextMenu.css";

body * { font-size: 10pt; margin: 0; padding: 0; }
#tabs { position: absolute; top: 0; bottom: 1em; left: 0; right: 0; }
#rubyCodeBrowser { position: absolute; top: 2em; bottom: 1em; left: 0; right: 0; }
#rubyNavigation { height: 50%; overflow: hidden; border: 2px solid #DDD; border-top: none; }
#rubyEditArea   { height: 50%; padding-top: 0.5em; margin-bottom: 3em; border: 2px solid #DDD; border-top: none;}
#rubyEditor { padding: 1em; margin-bottom: 2em; }
#rubyNavigation ul { overflow-y: scroll; overflow-x: hidden; height: 100%; border: 1px solid #DDD; border-top: none; }
#rubyNavigation ul li { border: 0; width: 100%; }
#rubyModules { float: left; width: 25%; }
#rubyConstants { float: left; width: 25%; }
#rubyModuleMethods { float: left; width: 25%; }
#rubyInstanceMethods { float: left; width: 24%; }
#rubyNavigation ul li:hover { background: #CCC; }
.ui-selected  { background: #AAA; }
.CodeMirror-line-numbers {
    width: 2.2em; color: #aaa; background-color: #eee; text-align: right;
    padding-right: .3em; font-size: 10pt; font-family: monospace; padding-top: .4em;
    line-height: normal;
}
#statusBar { position: fixed; bottom: 1.6em; height: 1em; width: 100%; padding-left: 1.4em; font-size: 9pt;}
