DBF_EXTENT_NAMES = <%= extent_filename %>;
DBF_SCRATCH_DIR = <%= scratch_directory %>;
STN_HALT_ON_FATAL_ERR = FALSE;
STN_TRAN_FULL_LOGGING = TRUE;
STN_TRAN_LOG_DIRECTORIES = <%= tranlog_directories.join(",") %>;
STN_TRAN_LOG_SIZES = 1000, 1000;
# SHR_PAGE_CACHE_SIZE_KB should always be > GEM_TEMPOBJ_CACHE_SIZE
SHR_PAGE_CACHE_SIZE_KB = 50000;
GEM_TEMPOBJ_CACHE_SIZE = 20000;
