.DS_Store
._*
.svn
*~
*.err
*.log
*.out
*.rbc
*.swp
*tmproj
/backups/
/data/
/html/
/gemstone/
/locks/
/locks
/log/
/log
gemstone.old/
/src/experimental/
debugspec.inp
cur.inp
etc/maglev.demo.key
.#*
*#
pbm.rb
lib/ruby/site_ruby/1.8/smalltalk
examples/persistence/gstore/pstore.db
.yardoc
doc
out
src/TAGS
src/test/test_data/Trac781.gz
rubyspec_temp
fileintmp
gemstone
src/kernel/parser/byacc/*.o
src/kernel/parser/byacc/config.h
src/kernel/parser/byacc/config.status
src/kernel/parser/byacc/makefile
src/kernel/parser/byacc/yacc
src/test/capi/Makefile
*.o
*.rbx
etc/maglev.hpi.key
lib/ruby/1.9/openssl/ext/openssl.so
lib/ruby/1.9/openssl/ext/openssl.dylib
lib/ruby/1.9/openssl/ext/openssl.bundle
versions
