.DS_Store
._*
.svn
*~
*.err
*.log
*.out
*.rbc
*.swp
*tmproj
./data/
./html/
./gemstone/
./locks/
./log/
gemstone.old/
debugspec.inp
cur.inp
etc/maglev.demo.key
.#*
*#
version.txt
pbm.rb
lib/ruby/site_ruby/1.8/rubygems
lib/ruby/site_ruby/1.8/rubygems.rb
lib/ruby/site_ruby/1.8/ubygems.rb
lib/ruby/site_ruby/1.8/rbconfig
lib/ruby/site_ruby/1.8/smalltalk
./stones
examples/persistence/gstore/pstore.db
