[submodule "spec/mspec"]
	path = spec/mspec
	url = git://github.com/rubyspec/mspec.git
[submodule "spec/rubyspec"]
	path = spec/rubyspec
	url = git://github.com/rubyspec/rubyspec.git
[submodule "benchmark"]
	path = benchmark
	url = git://github.com/acangiano/ruby-benchmark-suite.git
[submodule "src/experimental/rails3/rails"]
	path = src/experimental/rails3/rails
	url = git://github.com/rails/rails.git
