.DS_Store
._*
.svn
*~
*.err
*.log
*.out
*.rbc
*.swp
*tmproj
/backups/
/data/
/html/
/gemstone/
/locks/
/log/
gemstone.old/
debugspec.inp
cur.inp
etc/maglev.demo.key
.#*
*#
version.txt
pbm.rb
lib/ruby/site_ruby/1.8/smalltalk
lib/maglev/gems
examples/persistence/gstore/pstore.db
bin/rake
