<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MagLev WebTools</title>
    <meta charset="utf-8">
    <link rel="Shortcut Icon" type="image/ico" href="images/favicon.ico">

    <link rel="stylesheet" href="stylesheets/reset.css"     type="text/css" media="screen">
    <link rel="stylesheet" href="stylesheets/webtools.css"  type="text/css" media="screen">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascript/webtools.js"></script>
  </head>
  <body>
    <div id="tabs">
      <ul class="tabnav">
<!--
    Currently, we want to concentrate on the CodeBrowser for MagLev.  We've
    commented out the following items, but there is a good chance they'll
    work if you uncomment and want to play with them.  (also uncomment the
    divs below)

        <li><a href="/version">Version Report</a></li>
        <li><a href="/sessions">Current Sessions</a></li>
-->
        <li><a href="#rubyCodeBrowser"><span>Code Browser</span></a></li>
      </ul>
<!--
      <div id="versionReport" class="tabdiv"></div>
      <div id="currentSessions" class="tabdiv"></div>
-->
      <div id="rubyCodeBrowser" class="tabdiv">
<!-- Need to move edit area under the rubyCodeBrowser: insert new wrapper div -->
        <ul id="rubyModuleList"></ul>
        <ul id="rubyConstants"></ul>
        <ul id="rubyModuleMethods"></ul>
        <ul id="rubyInstanceMethods"></ul>
      </div>
      <div id='rubyEditArea'>
        <textArea id='rubyEditor' spellcheck='false'></textArea>
      </div>
      <div><span id="statusBar"></span></div>
    </div>
  </body>
</html>
