<div>
  <table>
    <caption>GemStone Version Report</caption>
    <thead>
      <tr><th>Attribute</th><th>Stone</th><th>WebTools</th></tr>
    </thead>
    <tbody id='versionTable'>
      <% data = @data[:version_report]
         data.keys.sort.each do |k|
      %>
      <tr><th><%= k %></th><td><%= data[k][0] %></td><td><%= data[k][1] %></td></tr>
      <% end %>
    </tbody>
  </table>
  <p class="timestamp"> Report generated: <%= @data[:timestamp] %></p>
</div>
