<form method="post" action="/posts">
  <ul>
    <li>Title: <input type="text" name="title" /> </li>
    <li>Tags:  <input type="text" name="tags" /> </li>
    <li>Text:  <textarea name="text" rows="10" cols="50"></textarea></li>
    <li><input type="submit" value="Create"></li>
  </ul>
</form>
