%html
  %head
    %title Test Sinatra and Haml
    %meta{:charset => "utf-8"}/
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}/
    %link{:href =>"/css/screen.css", :media =>"screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %p The Header
    #container
      = yield
