<div id="map_menu" class="panel">
  <div id="map_menu_numresults" class="float_left">
    <label for="num_results">Number of results:</label>
    <input type="text" id="num_results" name="num_results" size="4" value="5" /> 
  </div>
  <div id="map_menu_help" class="float_right">
    <span class="explain">Click on the map to show the nearest ZIP code(s).</span> <br />
  </div>
</div>

<div id="map_canvas"></div>

