<div id="map_menu" class="panel">
  <div id="map_menu_numresults" class="float_left">
    <label for="num_results">Number of results:</label>
    <input type="text" id="num_results" name="num_results" size="4" value="5" /> 
  </div>
  <div id="map_menu_help" class="float_right">
    <span class="explain">Click on the map to show the nearest ZIP code(s).</span> <br />
    <span class="explain">Alternatively, jump right to a zip code: </span>
    <input type="text" id="zip_jump" name="zip_jump" size="6" value="97006" />
    <input type="button" id="zip_jump_button" name="zip_jump_button" value="Go!" />
  </div>
</div>

<div id="map_canvas"></div>

