html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox p {
  margin: 0;
}

span.st-character 	{ color: rgb(128,0,128); }
span.st-comment		{ color: rgb(0,200,0); font-style: italic; }
span.st-string		{ color: rgb(128,0,128); }
span.st-symbol		{ color: rgb(128,0,128); }
span.st-boolean		{ color: rgb(0,0,128); }
span.st-self		{ color: rgb(0,0,128); }
span.st-super		{ color: rgb(0,0,128); }
span.st-nil			{ color: rgb(0,0,128); }
span.st-return		{ color: rgb(160,0,0); }
span.st-keyword		{ color: rgb(0,0,255); }
span.st-global		{ font-weight: bold; }

/*
number: 0 127 127
special selector: 0 0 127
brace highlight: 255 128 0
brace mismatch: 255 0 0
*/
