html, body {
  margin: 0px;
  padding: 0px;
}

#map_canvas {
  width: 100%; 
  height: 100%;
}

#info_window {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
  resize: none;
}

#info_window ul {
  padding: 5px;
  list-style: none;
}

#info_window li {
  padding: 1px;
}