    <% if @blogs.empty? %>
      <p>There are no blogs</p>
    <% else %>
      <ul>
        <% @blogs.each do |blog| %>
          <li><%= blog.name %></li>
        <% end %>
    <% end %>

      <h3>Create a new Blog</h3>
        <form action="/blogs" method="post">
        <label for="name">Blog Name: </label>
        <input type="text" name="name" />
        <input type="submit" name="submit" value="Create" />
      </form>
