<!-- The index page for a blog -->
<% if @blog.empty? %>
   <p>There are no posts for this blog</p>
<% else %>
  <ul>
    <% @blog.each do |post| %>
      <li><%= post[:title] %> - <%= post.body %></li>
    <% end %>
  </ul>
<% end %>


