!!!
%html
  %head
    %title Auth Example
    %style
      :sass
        body
          :margin 5em
          :padding 1em
          :border 1px solid black

          ul
            :list-style none
            :margin 0
          
          .error
            :color #ff0000
          
  %body
    = @content