- unless logged_in?
  - if flash[:error]
    %p.error= flash[:error]
  %form{ :method => 'POST', :action => Rs(:login) }
    %ul
      %li
        username:
        %input{ :type => 'text', :name => 'username' }/
      %li
        password:
        %input{ :type => 'password', :name => 'password' }/
      %li
        %input{ :type => 'submit', :name => 'login' }/
- else
  click here to
  %a{ :href => Rs(:logout) } logout