<div id="debug">
  <h2>Runtime info</h2>
  <p>defined? Maglev <%= defined? Maglev %></p>
  <h2>All Users</h2>
  <ul>
  <% User::ALL_USERS.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
  </ul>
</div>
