<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MagTag</title>
    <link rel="stylesheet" href="/magtag.css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>MagTag</h1>
      </header>

      <% if @error %>
      <div class="error">
        <%= @error %>
      </div>
      <% end %>

