<div id="login">
  <form action="login" method="post">
    <fieldset>
      <legend>Login to MagTag</legend>
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" placeholder="user name" autofocus />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <div>
          <input type="submit" id="login" value="login" />
        </div>
      </fieldset>
  </form>
</div>
